.venv/
__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/

.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

# Static hand mappings
static_hand_mappings/rps_dataset/
static_hand_mappings/*.task
static_hand_mappings/*.mp4

# Dynamic hand mappings
dynamic_hand_mappings/*.npy
dynamic_hand_mappings/*.mp4

# ML hand mappings
ml_hand_mappings/*.npz
ml_hand_mappings/*.mp4